@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 25, 19, 55, 100;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #3D1C3B 0%, #000000 54.7%);
  color: white;
  min-height: 100vh;
}

input {
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Font Style */
@font-face {
  font-family: "Hadenut";
  src: url("/fonts/Hadenut-xRRy8.ttf");
}


/* Scroll Bar */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #292B2E;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1D1E22;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #292B2E;
  /* creates padding around scroll thumb */
}